streamlit
faiss-cpu
groq
langchain-groq
langchain
langchain-core
langchain-community
langchain-google-genai
google-cloud-aiplatform>=1.38
PyPDF2
pypdf
pymupdf
pdfplumber
streamlit-mic-recorder
arabic-reshaper>=2.1.0
python-bidi>=0.4.2
